#navbar{
    width: 100%;
    height: 5vh;
    background-color: #ffd000;
    margin: 0;
}

#mainContainer{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}

#card{
    text-align: center;
    box-sizing: border-box;
    border-style: outset;
    padding: 1%;
    width: 20%;
    height: 400px;
    margin: 2%;
}
h2{
    font-family: calibri light;
    font-size: 12pt;
}

h1{
    text-align: center;
    margin-top: 1%;
}

#price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

img{
    width: auto;
    height: 8rem;
}

.buyBtn {
    width: 50%;
    background-color: #ffd000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    color: rgb(0, 0, 0);
    padding: 2%;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cartbar{
display:none;
position: fixed;
right: 0;
bottom: 0;
width: 50%;
padding: .5%;
border-radius: 5px;
border-left: 6px solid #ffd000;
background-color: rgb(230, 230, 230);
}

.cartText{
    font-family: calibri light;
    font-size: 14pt;
    font-weight: bold;
}

.spanCartText{
    font-weight: normal;
}

#menu-closer{
position: absolute;
right: 0;

}

#myProducts{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16pt;
    font-weight: 800;
    padding-top: .5%;
    
}
#cartBtn {
    width: 20%;
    background-color: #ffd000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    padding: .5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: .5%;
  }




/* #cart{
    display:none;
} */

/* @font-face {
    font-family: Segoe UI Symbol;
    src: url("Segoe UI Symbol");
}

.icart{
    font-family: "Segoe UI Symbol";
}

#navbarToggle{
    display:inline-block;
    font-weight:400;
    color:#858796;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:greenyellow;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.35rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
} */
